/*Nav*/
#myNavbar1{
	font-family: 'Poppins', sans-serif;
}

.nav-item{
	margin: 0 12px;
}


.background{
	height: 160vh;
	/*background: url(../images/bg.jpg);*/
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

.item{
	height: 80%;
	margin-top: 80px;
	border: 1px dashed black;

}

.carousel{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

}

h2{
	font-size: 50px;
	text-align: center;
	color: black;
	font-family: 'Poppins', sans-serif;
/*	margin-bottom: 50px;*/
}

@media only screen and (min-width: 1020px) {
	h2{
		margin-top: 80px;

	}
.item{
	height: 350px;
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px auto;
}
.item img{
	width: 100%;
	height: 100%;
}
}