/*Nav*/
#myNavbar1{
	font-family: 'Poppins', sans-serif;
}

.nav-item{
	margin: 0 12px;
}

body {
	background-image: linear-gradient(rgba(250,250,250,0.5),rgba(250,250,250,0.5)), url(../images/rx.jpg) !important;
	background-size: cover;
	background-position: center;
}

h3{
	font-family: 'Poppins', sans-serif;
	padding-top: 47px;
	font-size: 50px;
}

#main {
	height: 50vh;
	width: 100%

}


a:hover {
	text-decoration: none;
}
.img {
	height: 70%;
	width: 75%;

}

.img-content{
	color: black;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;

}

#row1, #row2, #row3 {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#home {
	font-size: 30px;
	display: flex; 
	align-items: center;
	justify-content: center;

}

#home:hover {
	text-decoration: none;

}

body{
	font-family: 'Poppins', sans-serif;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px){
	h3{
		font-size: 30px;
		text-align: center;
		align-items: center;
		padding: 10px;
	}
