/*Nav*/
#myNavbar1{
	font-family: 'Poppins', sans-serif;
}

.nav-item{
	margin: 0 12px;
}


#readings {
	font-family: 'Open Sans', sans-serif;

}

body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-image: url('../images/tarotBg.png');
}
.tarot{
	width: 300px;
	height: 500px;
	background-size: cover;
	background-position: center;
	position: absolute;
	transition: all 1s;
	cursor: pointer;
}

.tarot:hover{
	transform: scale(1.3);
	filter: brightness(1.75);
	box-shadow: 0px 0px 50px 0px rgba(255,255,255,1);
	z-index: 1;
}

.tarot1{
	left:100px;
	transform: rotate(-50deg);
}
.tarot2{
	left:200px;
	transform: rotate(-25deg);
}
.tarot3{
	left:300px;
	transform: rotate(0deg);
}
.tarot4{
	left:400px;
	transform: rotate(25deg);
}
.tarot5{
	left:500px;
	transform: rotate(50deg);
}
.cardsContainer{
	width: 90vw;
	height: 35vh;
	position: relative;
	margin: auto;
}
.title{
	padding: 100px 100px;
	font-size: 80px;
	color: white;
	font-family: 'Jim Nightshade', cursive;
}

/*.tarotReading{
	width: 100vw;
	height: 30vh;
	margin: auto;
	color: white;
	font-size: 45px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tarotReading > p{
	padding: 0 100px;
}*/
#readingRow{
	display: none;
	margin-top: 100px;	
}
.tarotR{
	width: 300px;
	height: 500px;
}
.readingText{
	color: white;
}
#retry-btn{
	position: absolute;
	bottom: 0;
}
.readingImg{
	display: flex;
	align-items: center;
	justify-content: center;
}
.readingText{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 600px;
	font-size: 40px;
}
#readings{
	padding: 100px;
}
#retry-btn{
	padding: 5px 25px;
	color: white;
	background-color: #0c0429;
	border: none;
	outline: none;
}

#tarotRow{
	margin-top: 200px;
}


@media only screen and (min-width: 1020px) {
.title{
	padding: 25px 300px 0px 300px;
	font-size: 50px;
}
  .tarot{
	width: 150px;
	height: 250px;
}
.tarotR{
	width: 200px;
	height: 350px;
	margin: auto;
}
.readingImg{
	display: flex;
	align-items: center;
	justify-content: center;
}
#readings{
	padding: 25px;
}
.readingText{
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 300px;
}

.tarotReading{
	width: 100vw;
	/*margin: auto;*/
	color: white;
	font-size: 25px;
}
.row1{
	margin-top: 50px;
	height: 100vh;
}
.row1 > div{
	height: 100%;
}
.cardsContainer{
	width: 60vw;
}
#readingRow{
	align-items: center;
	justify-content: center;
}
#retry-btn{
	padding: 5px 25px;
	border: none;
	outline: none;
}
#tarotRow{
	margin-top: 20px;
}
}


